# Atmosphere Deployment Scripts

"Deployment Scripts" are generalized term for scripts that are included
per instance launch and scripts that are part of an Image. Previously,
these scripts were referred to as "boot" scripts. However, the timing
of when scripts are run is after the actual "boot" process.

Scripts that were included "at launch" by the Instance creator can be
found in the following directory:

- {{INSTANCE_SCRIPT_AVAILABLE_DIR}}
