---

- name: gather OS-specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version}}.yml"
    - "{{ ansible_distribution }}.yml"
  tags:
    - x

- name: verify that X server exists
  stat:
    path: "{{ XGUI.xsession_path }}"
  register: xsession
  tags:
    - check-gui

- name: verify that xterm session exists
  stat:
    path: "{{ XGUI.xterm_path }}"
  register: xterm
  tags:
    - check-gui

- name: set flag for GUI systems
  set_fact:
    has_gui: "{{ xsession.stat.exists and xterm.stat.exists }}"
  tags:
    - check-gui

- name: install browser
  include: 'install-browser.yml'
  ignore_errors: yes
  when:
    - has_gui
    - SETUP_GUI_BROWSER is defined and SETUP_GUI_BROWSER == true

- name: install new terminal
  include: 'terminal.yml'
  ignore_errors: yes
  when:
    - has_gui

- name: set desktop background
  include: 'desktop-background.yml'
  ignore_errors: yes
  when:
    - has_gui
    - SET_DESKTOP_BACKGROUND is defined and SET_DESKTOP_BACKGROUND == true

- name: add desktop shortcut to change display resolution
  include: 'desktop-resolution.yml'
  ignore_errors: yes
  when:
    - has_gui
